*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  display: flex;
  min-height: calc(100% - 57.4px);
}

.form__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.6em 0;
}
.form__box-title {
  margin: 0 0.4em 0.6em 0.4em;
  font-size: 2rem;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: bold;
}
.form__box-input, .form__box-textarea {
  padding: 0.6em;
  font-size: 1.6rem;
  border-radius: 10px;
}
.form__box-input:focus, .form__box-input:active, .form__box-textarea:focus, .form__box-textarea:active {
  outline: 2px solid #1b1c22;
}
.form__box-textarea {
  resize: none;
  height: 100px;
}

.form__box:first-child {
  margin: 0;
}

.question-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: bold;
}

@media (min-width: 576px) {
  .wrapper {
    min-height: calc(100% - 68.6px);
  }
}
.notes {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 2em;
  gap: 1.4em;
}
.notes__add-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: none;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0.4em 0.8em;
  font-family: "Alegreya Sans", "sans-serif ";
  font-size: 2rem;
  background: none;
  border: 3px solid #ec9832;
  border-radius: 10px;
}
.notes__add-btn-icon {
  margin-right: 0.4em;
}
.notes__item {
  padding: 1.4em;
  background-color: #6cb5de;
  border-radius: 12px;
}
.notes__item-title {
  position: relative;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-size: 2.4rem;
}
.notes__item-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2px;
  background: repeating-linear-gradient(to right, #4d4d56 0px, #4d4d56 20px, transparent 20px, transparent 35px);
}
.notes__item-text {
  font-family: "Alegreya Sans", "sans-serif ";
  font-size: 1.6rem;
}
.notes__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.notes__item-date {
  font-size: 1.6rem;
}
.notes__item-btn {
  padding: 0.8em;
  border-radius: 10px;
}
.notes__item-btn--delete {
  margin-right: 1em;
}

@media (min-width: 576px) {
  .notes__item {
    margin: 0 1em;
  }
  .notes {
    padding: 2.2em;
    gap: 1.8em;
  }
}
@media (min-width: 768px) {
  .notes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .notes__item {
    margin: 0;
  }
}
.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 3px solid #ec9832;
  border-radius: 10px;
}

.primary-btn:active,
.primary-btn:focus {
  outline: 2px solid #1b1c22;
  background-color: #ec9832;
  color: #ecebe4;
}

.primary-btn--danger {
  border: 3px solid #e94957;
}

.primary-btn--danger:active,
.primary-btn--danger:focus {
  outline: 2px solid #1b1c22;
  background-color: #e42535;
  color: #ecebe4;
}

.primary-btn img {
  pointer-events: none;
}

.secondary-btn {
  background-color: #ec9832;
}

.secondary-btn img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.secondary-btn:focus,
.secondary-btn:active {
  background-color: #e08515;
  outline: 2px solid #1b1c22;
}

.secondary-btn--delete {
  background-color: #e94957;
}

.secondary-btn--delete:focus,
.secondary-btn--delete:active {
  background-color: #e42535;
  outline: 2px solid #1b1c22;
}

.close-btn {
  align-self: flex-end;
  padding: 0.6em;
  background: none;
}
.close-btn img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.close-btn:focus,
.close-btn:active {
  outline: 2px solid #1b1c22;
  border-radius: 12px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal--active {
  display: flex;
}
.modal__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(27, 28, 34, 0.95);
  z-index: 1;
}
.modal__window {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 90%;
  height: 95%;
  padding: 1.6em;
  border-radius: 12px;
  background-color: #fdfff7;
  z-index: 10;
}
.modal__view-title {
  position: absolute;
  top: 1.2em;
  left: 50%;
  translate: -50%;
  margin: 0.5em 0;
  font-size: 1.6rem;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: normal;
}
.modal__view {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal__view--add-note, .modal__view--edit-note {
  display: none;
}
.modal__view--add-note .category__box, .modal__view--edit-note .category__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 1.2em;
  border: 2px solid #1b1c22;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: none;
}
.modal__view--add-note .category__box:focus,
.modal__view--add-note .category__box:active, .modal__view--edit-note .category__box:focus,
.modal__view--edit-note .category__box:active {
  outline: 2px solid #1b1c22;
}
.modal__view--add-note .category__box-option, .modal__view--edit-note .category__box-option {
  width: 90%;
  margin-bottom: 0.6em;
  padding: 0.8em;
  font-size: 1.6rem;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: bold;
  background-color: #9ece9a;
  border-radius: 12px;
}
.modal__view--add-note .category__box-option:not(:first-child):focus,
.modal__view--add-note .category__box-option:not(:first-child):active, .modal__view--edit-note .category__box-option:not(:first-child):focus,
.modal__view--edit-note .category__box-option:not(:first-child):active {
  background-color: #3a3a41;
  outline: 2px solid #ecebe4;
  color: #ecebe4;
}
.modal__view--add-note .category__box-option:first-child:focus,
.modal__view--add-note .category__box-option:first-child:active, .modal__view--edit-note .category__box-option:first-child:focus,
.modal__view--edit-note .category__box-option:first-child:active {
  background-color: #e08515;
}
.modal__view--add-note .category__box-option--add-cat, .modal__view--edit-note .category__box-option--add-cat {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.modal__view--add-note .category__box-option:last-child, .modal__view--edit-note .category__box-option:last-child {
  margin-bottom: 0;
}
.modal__view--add-note .form, .modal__view--edit-note .form {
  width: 100%;
}
.modal__view--search .form__box {
  margin-bottom: 3em;
}
.modal__view--search .form__box-title {
  text-align: center;
}
.modal__view--add-category .category__color-box {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
.modal__view--add-category .category-color {
  width: 55px;
  height: 55px;
  margin: 0.5em;
  border-radius: 50%;
  border: 2px solid #4d4d56;
}
.modal__view--add-category .category-color--one {
  background-color: #9ece9a;
}
.modal__view--add-category .category-color--two {
  background-color: #e4ed8f;
}
.modal__view--add-category .category-color--three {
  background-color: #e9e67e;
}
.modal__view--add-category .category-color--four {
  background-color: #f9d362;
}
.modal__view--add-category .category-color--five {
  background-color: #fec871;
}
.modal__view--add-category .category-color--six {
  background-color: #fdaa86;
}
.modal__view--add-category .category-color--seven {
  background-color: #ec8398;
}
.modal__view--add-category .category-color--eight {
  background-color: #efabac;
}
.modal__view--add-category .category-color--nine {
  background-color: #c9b1fb;
}
.modal__view--add-category .category-color--ten {
  background-color: #47e0ff;
}
.modal__view--add-category .category-color--eleven {
  background-color: #75a3d1;
}
.modal__view--add-category .category-color--twelve {
  background-color: #6cb5de;
}
.modal__view--active {
  display: flex;
}
.modal .controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}
.modal .controls__btn {
  width: 80%;
  padding: 0.6em 1.2em;
  font-size: 1.6rem;
  font-family: "Alegreya Sans SC", "sans-serif";
  font-weight: bold;
}
.modal .controls__btn:first-child {
  margin-bottom: 0.8em;
}

@media (min-width: 576px) {
  .modal__window {
    width: 80%;
    height: 90%;
    padding: 1.6em;
  }
}
@media (min-width: 768px) {
  .modal__window {
    width: 75%;
    height: 65%;
    padding: 2.6em;
  }
  .modal__view--add-category .category-color {
    width: 70px;
    height: 70px;
  }
  .modal__view--add-note .category__box, .modal__view--edit-note .category__box {
    height: 200px;
  }
  .modal__view--add-note .category__box-option, .modal__view--edit-note .category__box-option {
    width: 85%;
    padding: 1em;
  }
  .modal__view-title {
    top: 0.8em;
    font-size: 2rem;
  }
  .modal .controls__btn {
    padding: 0.8em 1.6em;
  }
  .modal .controls__btn:first-child {
    margin-bottom: 1em;
  }
}
body {
  background-color: #fdfff7;
  font-family: "Alegreya Sans", "sans-serif ";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3a3a41;
  padding: 1em;
}
.header__logo {
  font-family: "Alegreya Sans SC", "sans-serif";
  font-size: 2.8rem;
}
.header .form__box {
  display: none;
  width: 60%;
}

.aside {
  position: relative;
  border-right: 1px solid #3a3a41;
}
.aside__btns {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
}
.aside__btns__btn {
  min-width: 40px;
  min-height: 40px;
  margin: 0.8em 0em;
  padding: 0.8em;
}

@media (min-width: 576px) {
  .aside__btns {
    padding: 1.2em;
  }
  .header {
    padding: 1.2em;
  }
}
@media (min-width: 768px) {
  .aside__btns {
    padding: 1.6em;
  }
}
@media (min-width: 992px) {
  .header {
    justify-content: space-evenly;
    padding: 0.8em 1em;
  }
  .header .form__box {
    display: flex;
    flex-direction: row;
  }
  .header .form__box-input {
    width: 80%;
    border: 3px solid #ec9832;
  }
  .header .form__box-input:focus, .header .form__box-input:active {
    border-color: #1b1c22;
    outline: none;
  }
  .header .form__box .primary-btn {
    margin-left: 1em;
    padding: 0.4em 0.6em;
  }
  .aside [data-action=aside-btn-search] {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */