@use "./tokens" as t;
.wrapper {
	position: relative;
	display: flex;
	min-height: calc(100% - 57.4px);
}
.form__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1.6em 0;
	&-title {
		margin: 0 0.4em 0.6em 0.4em;
		font-size: t.$text-lg;
		font-family: t.$heading-font;
		font-weight: bold;
	}
	&-input,
	&-textarea {
		padding: 0.6em;
		font-size: t.$text-md;
		border-radius: t.$radius-sm;
	}
	&-input:focus,
	&-input:active,
	&-textarea:focus,
	&-textarea:active {
		outline: 2px solid t.$font-dark;
	}
	&-textarea {
		resize: none;
		height: 100px;
	}
}
.form__box:first-child {
	margin: 0;
}
.question-title {
	text-align: center;
	font-size: t.$text-lg;
	font-family: t.$heading-font;
	font-weight: bold;
}

@media (min-width: 576px) {
	.wrapper {
		min-height: calc(100% - 68.6px);
	}
}
