@use "./tokens" as t;
@use "./buttons";

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	&--active {
		display: flex;
	}
	&__overlay {
		width: 100%;
		height: 100%;
		background-color: t.$overlay-bg;
		z-index: 1;
	}
	&__window {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 90%;
		height: 95%;
		padding: 1.6em;
		border-radius: t.$radius-md;
		background-color: t.$light-bg;
		z-index: 10;
	}
	&__view-title {
		position: absolute;
		top: 1.2em;
		left: 50%;
		translate: -50%;
		margin: 0.5em 0;
		font-size: t.$text-md;
		font-family: t.$heading-font;
		font-weight: bold;
	}
	&__view {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	&__view--add-note,
	&__view--edit-note {
		display: none;
		.category__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 120px;
			padding: 1.2em;
			border: 2px solid t.$font-dark;
			border-radius: t.$radius-sm;
			overflow-y: auto;
			overflow-x: none;
		}
		.category__box:focus,
		.category__box:active {
			outline: 2px solid t.$font-dark;
		}
		.category__box-option {
			width: 90%;
			margin-bottom: 0.6em;
			padding: 0.8em;
			font-size: t.$text-md;
			font-family: t.$heading-font;
			font-weight: bold;
			background-color: t.$category-1;
			border-radius: t.$radius-md;
		}
		.category__box-option:not(:first-child):focus,
		.category__box-option:not(:first-child):active {
			background-color: t.$dark-bg;
			outline: 2px solid t.$font-light;
			color: t.$font-light;
		}
		.category__box-option:first-child:focus,
		.category__box-option:first-child:active {
			background-color: t.$accent-dark;
		}
		.category__box-option--add-cat {
			display: flex;
			align-items: center;
			justify-content: center;
			background: none;
		}
		.category__box-option:last-child {
			margin-bottom: 0;
		}
		.form {
			width: 100%;
		}
	}
	&__view--search {
		.form__box {
			margin-bottom: 3em;
		}
		.form__box-title {
			text-align: center;
		}
	}
	&__view--add-category {
		.category__color-box {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 1em;
		}
		.category-color {
			width: 55px;
			height: 55px;
			margin: 0.5em;
			border-radius: 50%;
			border: 2px solid t.$dark-bg-lighter;
			&--one {
				background-color: t.$category-1;
			}
			&--two {
				background-color: t.$category-2;
			}
			&--three {
				background-color: t.$category-3;
			}
			&--four {
				background-color: t.$category-4;
			}
			&--five {
				background-color: t.$category-5;
			}
			&--six {
				background-color: t.$category-6;
			}
			&--seven {
				background-color: t.$category-7;
			}
			&--eight {
				background-color: t.$category-8;
			}
			&--nine {
				background-color: t.$category-9;
			}
			&--ten {
				background-color: t.$category-10;
			}
			&--eleven {
				background-color: t.$category-11;
			}
			&--twelve {
				background-color: t.$category-12;
			}
		}
	}
	&__view--active {
		display: flex;
	}
	.controls {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 3em;
		&__btn {
			width: 80%;
			padding: 0.6em 1.2em;
			font-size: t.$text-md;
			font-family: t.$heading-font;
			font-weight: bold;
		}
		&__btn:first-child {
			margin-bottom: 0.8em;
		}
	}
}
@media (min-width: 576px) {
	.modal {
		&__window {
			width: 80%;
			height: 90%;
			padding: 1.6em;
		}
	}
}
