// ---FONTS---
$main-font: "Alegreya Sans", "sans-serif ";
$heading-font: "Alegreya Sans SC", "sans-serif";
// font-sizes
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 2rem;
$text-xl: 2.4rem;
$text-2xl: 2.8rem;
$text-3xl: 3.2rem;
// radius
$radius-sm: 10px;
$radius-md: 12px;
// ---COLORS---
// BACKGROUND
$light-bg: #fdfff7;
$dark-bg: #3a3a41;
$overlay-bg: rgba(27, 28, 34, 0.95);
$dark-bg-lighter: #4d4d56;
$accent: #ec9832;
$accent-dark: #e08515;
$danger: #e94957;
$danger-dark: #e42535;
// FONT
$font-dark: #1b1c22;
$font-light: #ecebe4;
// NOTE-CATEGORIES
$category-1: #9ece9a;
$category-2: #e4ed8f;
$category-3: #e9e67e;
$category-4: #f9d362;
$category-5: #fec871;
$category-6: #fdaa86;
$category-7: #ec8398;
$category-8: #efabac;
$category-9: #c9b1fb;
$category-10: #47e0ff;
$category-11: #75a3d1;
$category-12: #6cb5de;
