@use "./reset";
@use "./components";
@use "./notes";
@use "./buttons";
@use "./modals";
@use "./tokens" as t;

body {
	background-color: t.$light-bg;
	font-family: t.$main-font;
}
// HEADER
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid t.$dark-bg;
	padding: 1em;
	&__logo {
		font-family: t.$heading-font;
		font-size: t.$text-2xl;
	}
	.form__box {
		display: none;
		width: 60%;
	}
}
.aside {
	position: relative;
	border-right: 1px solid t.$dark-bg;
	&__btns {
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		padding: 0.8em;
		&__btn {
			min-width: 40px;
			min-height: 40px;
			margin: 0.8em 0em;
			padding: 0.8em;
		}
	}
}
@media (min-width: 576px) {
	.aside {
		&__btns {
			padding: 1.2em;
		}
	}
	.header {
		padding: 1.2em;
	}
}
@media (min-width: 768px) {
	.aside {
		&__btns {
			padding: 1.6em;
		}
	}
}
@media (min-width: 992px) {
	.header {
		justify-content: space-between;
		padding: 0.8em 1em;
		&__logo {
			font-size: t.$text-3xl;
			margin-left: 1em;
		}
		.form__box {
			display: flex;
			flex-direction: row;
			margin: 0.8em 0;
			&-input {
				width: 80%;
				border: 3px solid t.$accent;
			}
			&-input:focus,
			&-input:active {
				border-color: t.$font-dark;
				outline: none;
			}
			.primary-btn {
				margin-left: 1em;
				padding: 0.4em 0.8em;
			}
		}
	}
	.aside {
		[data-action="aside-btn-search"] {
			display: none;
		}
	}
}
@media (min-width: 1200px) {
	.header {
		.form__box {
			margin: 1em auto;
			width: 40%;
			.primary-btn {
				margin-left: 1.8em;
			}
		}
	}
}
