@use "./reset";
@use "./components";
@use "./notes";
@use "./buttons";
@use "./modals";
@use "./tokens" as t;

body {
	background-color: t.$light-bg;
	font-family: t.$main-font;
}
// HEADER
.header {
	&__logo {
		padding: 0.4em 0.8em;
		font-family: t.$heading-font;
		font-size: t.$text-2xl;
		text-align: center;
		border-bottom: 1px solid t.$dark-bg;
	}
}
.aside {
	position: relative;
	border-right: 1px solid t.$dark-bg;
	&__btns {
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		padding: 0.8em;
		&__btn {
			min-width: 40px;
			min-height: 40px;
			margin: 0.8em 0em;
			padding: 0.8em;
		}
	}
}
@media (min-width: 576px) {
	.aside {
		&__btns {
			padding: 1.2em;
		}
	}
	.header {
		&__logo {
			padding: 0.6em 1.2em;
		}
	}
}
@media (min-width: 768px) {
	.aside {
		&__btns {
			padding: 1.6em;
		}
	}
}
// X-Small			None		<576px
// Small			sm		≥576px
// Medium			md		≥768px
// Large			lg		≥992px
// Extra large		xl		≥1200px
// Extra extra large	xxl		≥1400px
